In [1]:
import pandas as pd
from sklearn import linear_model as sk
import statsmodels.api as sm
import matplotlib.pylab
import matplotlib.pylab as plt
import numpy as np
import patsy as pts
from sklearn.decomposition import PCA

In [2]:
%matplotlib inline

In [3]:
df = pd.read_csv("C:\Users\dell pc\Dataset\HospitalProfiling.csv")

In [4]:
df1 = pd.read_csv("C:\Users\dell pc\Dataset\HospitalProfiling-Copy.csv")

In [5]:
df.head()

  Hospital_ID  District_ID  Hospital_employees
0  Hospital 1  District 12                   3
1  Hospital 1  District 13                   6
2  Hospital 1  District 15                   2
3  Hospital 1  District 16                   3
4  Hospital 1  District 19                   5

In [6]:
df1.head()

   Hospital_ID  District_ID  Hospital_employees
0            1           12                   3
1            1           13                   6
2            1           15                   2
3            1           16                   3
4            1           19                   5

In [7]:
hospital_prof=df.copy()

In [8]:
df.tail()

        Hospital_ID District_ID  Hospital_employees
27860  Hospital 999  District 6                   2
27861  Hospital 999  District 6                 393
27862  Hospital 999  District 8                 147
27863  Hospital 999  District 8                  30
27864  Hospital 999  District 8                  12

In [9]:
df['Hospital_employees'].max()

1996329

In [10]:
df['Hospital_employees'].mean()

1024.3012381123274

In [11]:
df['Hospital_employees'].min()

1

In [12]:
df = df.sort_values(['Hospital_employees'],ascending=True)

In [13]:
df1 = df1.sort_values(['Hospital_employees'],ascending=True)

In [14]:
pd.value_counts(df['Hospital_employees'].values, sort=True, dropna=False, ascending=True)

3862         1
1944         1
1960         1
4009         1
1976         1
8123         1
2040         1
1912         1
12303        1
4187         1
10364        1
8317         1
2200         1
6298         1
2248         1
2072         1
6346         1
1880         1
14110        1
1608         1
5722         1
9836         1
198280       1
1688         1
1704         1
5930         1
1720         1
1784         1
9980         1
1800         1
          ...
24         165
29         167
38         167
26         169
50         175
30         177
22         178
23         189
19         208
21         221
17         225
20         229
25         235
16         240
14         279
15         289
18         291
12         314
11         362
13         363
10         384
9          392
7          461
8          475
6          569
5          699
4          712
3         1031
2         1207
1         1509
dtype: int64

In [15]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print "Missing values per column:"
print df1.apply(num_missing, axis=0) #axis=0 defines that function is to be applied on each column

Missing values per column:
Hospital_ID           0
District_ID           0
Hospital_employees    0
dtype: int64

In [16]:
employee_bins = [0, 15, 50, 300, 1000, 2500, 10000, 25000]
employee_labels = ["V.V. Small","V. Small", "Small", "Medium", "Large", "Very Large", "Magnificient"]
df1['hospital_cat'] = pd.cut(df1['Hospital_employees'], employee_bins, labels=employee_labels, 
    right=True, include_lowest=True)

In [17]:
pd.value_counts(df1['hospital_cat'].values, sort=True, dropna=False, ascending=True)

NaN              164
Magnificient     296
Very Large      1063
Large           1534
Medium          3166
V. Small        5334
Small           7262
V.V. Small      9046
dtype: int64

In [18]:
df1.head()

       Hospital_ID  District_ID  Hospital_employees hospital_cat
13932          251           19                   1   V.V. Small
1953          1110           43                   1   V.V. Small
14375          279           13                   1   V.V. Small
14378          279           19                   1   V.V. Small
14379          279           19                   1   V.V. Small

In [19]:
df[df.Hospital_employees > 100000].count()

Hospital_ID           24
District_ID           24
Hospital_employees    24
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27865 entries, 13932 to 9974
Data columns (total 3 columns):
Hospital_ID           27865 non-null object
District_ID           27865 non-null object
Hospital_employees    27865 non-null int64
dtypes: int64(1), object(2)
memory usage: 870.8+ KB

In [21]:
df[df.Hospital_employees > 50000].count()

Hospital_ID           71
District_ID           71
Hospital_employees    71
dtype: int64

In [22]:
df[df.Hospital_employees > 25000].count()

Hospital_ID           164
District_ID           164
Hospital_employees    164
dtype: int64

In [23]:
rev = pd.read_csv("C:\Users\dell pc\Dataset\HospitalRevenue.csv")

In [24]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total
0,Hospital 1,Region 1,District 12,Instrument 2,8534,9917,7825,11702,8776,7755,9289,7796,7595,8292,7787,8282,103550
1,Hospital 1,Region 1,District 12,Instrument 3,298,298,214,311,261,223,237,171,173,183,193,0,2562
2,Hospital 1,Region 1,District 13,Instrument 1,37,40,38,43,29,0,0,0,0,0,0,0,187
3,Hospital 1,Region 1,District 13,Instrument 2,2486,3332,3193,2556,2108,2757,2639,2531,2771,2682,12317,1369,40741
4,Hospital 1,Region 1,District 13,Instrument 3,857,892,739,759,736,415,1203,434,448,113,829,1124,8549

In [25]:
df[(df.Hospital_employees > 50) & (df.Hospital_employees < 100)].count()

Hospital_ID           2973
District_ID           2973
Hospital_employees    2973
dtype: int64

In [26]:
df[(df.Hospital_employees > 1) & (df.Hospital_employees < 15)].count()

Hospital_ID           7248
District_ID           7248
Hospital_employees    7248
dtype: int64

In [27]:
df[(df.Hospital_employees > 1) & (df.Hospital_employees < 10)].count()

Hospital_ID           5546
District_ID           5546
Hospital_employees    5546
dtype: int64

In [28]:
df[(df.Hospital_employees >= 2500) & (df.Hospital_employees < 10000)].count()

Hospital_ID           1066
District_ID           1066
Hospital_employees    1066
dtype: int64

In [29]:
df1.describe()

        Hospital_ID   District_ID  Hospital_employees
count  27865.000000  27865.000000        2.786500e+04
mean     814.917100     26.211592        1.024301e+03
std      467.886423     15.127998        1.609038e+04
min        1.000000      1.000000        1.000000e+00
25%      405.000000     13.000000        9.000000e+00
50%      831.000000     26.000000        4.600000e+01
75%     1237.000000     40.000000        2.450000e+02
max     1602.000000     53.000000        1.996329e+06

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27865 entries, 13932 to 9974
Data columns (total 4 columns):
Hospital_ID           27865 non-null int64
District_ID           27865 non-null int64
Hospital_employees    27865 non-null int64
hospital_cat          27701 non-null category
dtypes: category(1), int64(3)
memory usage: 898.0 KB

In [31]:
test = df.groupby(['Hospital_ID','District_ID'])
test.describe()

                                Hospital_employees
Hospital_ID  District_ID
Hospital 1   District 12 count            1.000000
                         mean             3.000000
                         std                   NaN
                         min              3.000000
                         25%              3.000000
                         50%              3.000000
                         75%              3.000000
                         max              3.000000
             District 13 count            1.000000
                         mean             6.000000
                         std                   NaN
                         min              6.000000
                         25%              6.000000
                         50%              6.000000
                         75%              6.000000
                         max              6.000000
             District 15 count            1.000000
                         mean             2.000000
                         std                   NaN
                         min              2.000000
                         25%              2.000000
                         50%              2.000000
                         75%              2.000000
                         max              2.000000
             District 16 count            1.000000
                         mean             3.000000
                         std                   NaN
                         min              3.000000
                         25%              3.000000
                         50%              3.000000
...                                            ...
Hospital 999 District 48 std             37.476659
                         min              2.000000
                         25%             15.250000
                         50%             28.500000
                         75%             41.750000
                         max             55.000000
             District 53 count            8.000000
                         mean           597.750000
                         std            735.997234
                         min            116.000000
                         25%            201.500000
                         50%            401.000000
                         75%            524.250000
                         max           2367.000000
             District 6  count            4.000000
                         mean           102.250000
                         std            193.890648
                         min              2.000000
                         25%              2.000000
                         50%              7.000000
                         75%            107.250000
                         max            393.000000
             District 8  count            3.000000
                         mean            63.000000
                         std             73.300750
                         min             12.000000
                         25%             21.000000
                         50%             30.000000
                         75%             88.500000
                         max            147.000000

[195752 rows x 1 columns]

In [32]:
df1['Key']=df1.Hospital_ID+df1.District_ID

In [33]:
df1.head()

       Hospital_ID  District_ID  Hospital_employees hospital_cat   Key
13932          251           19                   1   V.V. Small   270
1953          1110           43                   1   V.V. Small  1153
14375          279           13                   1   V.V. Small   292
14378          279           19                   1   V.V. Small   298
14379          279           19                   1   V.V. Small   298

In [34]:
del df1['Key']

In [35]:
df1.head()

       Hospital_ID  District_ID  Hospital_employees hospital_cat
13932          251           19                   1   V.V. Small
1953          1110           43                   1   V.V. Small
14375          279           13                   1   V.V. Small
14378          279           19                   1   V.V. Small
14379          279           19                   1   V.V. Small

In [36]:
df1['Key']=df1.Hospital_ID+df1.District_ID

In [37]:
df1.head()

       Hospital_ID  District_ID  Hospital_employees hospital_cat   Key
13932          251           19                   1   V.V. Small   270
1953          1110           43                   1   V.V. Small  1153
14375          279           13                   1   V.V. Small   292
14378          279           19                   1   V.V. Small   298
14379          279           19                   1   V.V. Small   298

In [38]:
rem_dup = df.groupby(['Hospital_ID','District_ID']).filter(lambda df:df.shape[0] == 1)
print rem_dup.count()

Hospital_ID           21849
District_ID           21849
Hospital_employees    21849
dtype: int64

In [39]:
df.head()

         Hospital_ID  District_ID  Hospital_employees
13932   Hospital 251  District 19                   1
1953   Hospital 1110  District 43                   1
14375   Hospital 279  District 13                   1
14378   Hospital 279  District 19                   1
14379   Hospital 279  District 19                   1

In [40]:
df=df.drop_duplicates(subset=['Key'])

KeyError: 'Key'

In [41]:
df.describe()

       Hospital_employees
count        2.786500e+04
mean         1.024301e+03
std          1.609038e+04
min          1.000000e+00
25%          9.000000e+00
50%          4.600000e+01
75%          2.450000e+02
max          1.996329e+06

In [42]:
df.head()

         Hospital_ID  District_ID  Hospital_employees
13932   Hospital 251  District 19                   1
1953   Hospital 1110  District 43                   1
14375   Hospital 279  District 13                   1
14378   Hospital 279  District 19                   1
14379   Hospital 279  District 19                   1

In [43]:
del df['Key']

KeyError: 'Key'

In [44]:
df.head()

         Hospital_ID  District_ID  Hospital_employees
13932   Hospital 251  District 19                   1
1953   Hospital 1110  District 43                   1
14375   Hospital 279  District 13                   1
14378   Hospital 279  District 19                   1
14379   Hospital 279  District 19                   1

In [45]:
df['Key'] = df.Hospital_ID + df.District_ID

In [46]:
df.head()

,Hospital_ID,District_ID,Hospital_employees,Key
13932,Hospital 251,District 19,1,Hospital 251District 19
1953,Hospital 1110,District 43,1,Hospital 1110District 43
14375,Hospital 279,District 13,1,Hospital 279District 13
14378,Hospital 279,District 19,1,Hospital 279District 19
14379,Hospital 279,District 19,1,Hospital 279District 19

In [47]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total
0,Hospital 1,Region 1,District 12,Instrument 2,8534,9917,7825,11702,8776,7755,9289,7796,7595,8292,7787,8282,103550
1,Hospital 1,Region 1,District 12,Instrument 3,298,298,214,311,261,223,237,171,173,183,193,0,2562
2,Hospital 1,Region 1,District 13,Instrument 1,37,40,38,43,29,0,0,0,0,0,0,0,187
3,Hospital 1,Region 1,District 13,Instrument 2,2486,3332,3193,2556,2108,2757,2639,2531,2771,2682,12317,1369,40741
4,Hospital 1,Region 1,District 13,Instrument 3,857,892,739,759,736,415,1203,434,448,113,829,1124,8549

In [48]:
rev.describe()

,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total
count,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04
mean,2.439288e+03,2.515734e+03,2.562847e+03,2.480626e+03,2.641750e+03,2.692442e+03,2.608996e+03,2.609247e+03,2.658345e+03,2.638559e+03,3.179302e+03,2.639070e+03,3.166621e+04
std,1.955569e+04,1.722204e+04,1.852453e+04,1.774030e+04,1.931754e+04,2.028655e+04,1.898657e+04,2.098131e+04,2.158379e+04,1.970812e+04,2.903776e+04,1.912902e+04,2.110960e+05
min,-1.223435e+06,-1.944620e+05,-5.149670e+05,-2.932610e+05,-2.343230e+05,-3.143660e+05,-4.364940e+05,-5.097630e+05,-8.961340e+05,-2.811200e+05,-1.471149e+06,-3.068690e+05,-2.040193e+06
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.470000e+02
50%,8.700000e+01,9.000000e+01,9.200000e+01,8.500000e+01,7.600000e+01,5.900000e+01,6.900000e+01,6.900000e+01,6.600000e+01,6.600000e+01,7.700000e+01,5.200000e+01,1.878000e+03
75%,8.130000e+02,8.150000e+02,8.400000e+02,8.190000e+02,8.180000e+02,7.560000e+02,7.690000e+02,7.490000e+02,7.440000e+02,7.430000e+02,8.130000e+02,7.250000e+02,1.167000e+04
max,1.600173e+06,1.254068e+06,1.330740e+06,1.273001e+06,1.506083e+06,1.444746e+06,1.376751e+06,1.201132e+06,1.558106e+06,1.375467e+06,1.414112e+06,1.386712e+06,1.546145e+07

In [49]:

print rev.apply(num_missing, axis=0) #axis=0 defines that function is to be applied on each column

Hospital_ID      0
Region_ID        0
District_ID      0
Instrument_ID    0
Month 1          0
Month 2          0
Month 3          0
Month 4          0
Month 5          0
Month 6          0
Month 7          0
Month 8          0
Month 9          0
Month 10         0
Month 11         0
Month 12         0
Year Total       0
dtype: int64

In [50]:
rev.tail()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total
44348,Hospital 999,Region 5,District 50,Instrument 3,3697,3276,3370,3976,3503,3566,3678,3762,3633,3819,4124,3859,44263
44349,Hospital 999,Region 5,District 50,Instrument 4,0,0,0,0,0,0,27,0,0,0,0,0,27
44350,Hospital 999,Region 5,District 52,Instrument 2,0,0,1234,0,0,0,0,0,0,0,0,0,1234
44351,Hospital 999,Region 5,District 52,Instrument 7,0,0,0,0,0,1234,0,0,1670,589,462,1780,5735
44352,Hospital 999,Region 5,District 6,Instrument 2,0,0,0,0,391,304,436,281,310,434,394,355,2905

In [51]:
rev['District_ID']=rev['District_ID'].str.replace('No District Available','District 99')

In [52]:
rev['District_ID'].value_counts()

District 13    4878
District 20    3946
District 28    3812
District 18    3350
District 50    2886
District 41    2702
District 34    2346
District 32    1957
District 39    1915
District 29    1509
District 12    1309
District 44    1276
District 10    1095
District 15    1027
District 48     825
District 19     796
District 17     738
District 37     616
District 2      606
District 25     561
District 99     507
District 8      473
District 21     472
District 3      441
District 6      400
District 4      356
District 14     302
District 35     277
District 51     251
District 46     242
District 1      239
District 5      203
District 52     200
District 33     194
District 16     191
District 9      161
District 49     149
District 27     148
District 45     144
District 31     135
District 47     127
District 7      108
District 38      95
District 40      81
District 26      57
District 22      47
District 36      42
District 42      40
District 11      28
District 23      27
District 43      27
District 30      21
District 24      18
Name: District_ID, dtype: int64

In [53]:
rev['Key1']=rev.Hospital_ID+rev.District_ID+rev.Instrument_ID

In [54]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total,Key1
0,Hospital 1,Region 1,District 12,Instrument 2,8534,9917,7825,11702,8776,7755,9289,7796,7595,8292,7787,8282,103550,Hospital 1District 12Instrument 2
1,Hospital 1,Region 1,District 12,Instrument 3,298,298,214,311,261,223,237,171,173,183,193,0,2562,Hospital 1District 12Instrument 3
2,Hospital 1,Region 1,District 13,Instrument 1,37,40,38,43,29,0,0,0,0,0,0,0,187,Hospital 1District 13Instrument 1
3,Hospital 1,Region 1,District 13,Instrument 2,2486,3332,3193,2556,2108,2757,2639,2531,2771,2682,12317,1369,40741,Hospital 1District 13Instrument 2
4,Hospital 1,Region 1,District 13,Instrument 3,857,892,739,759,736,415,1203,434,448,113,829,1124,8549,Hospital 1District 13Instrument 3

In [55]:
rev=rev.drop_duplicates(subset=['Key1'])

In [56]:
rev.describe()

,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total
count,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04,4.435300e+04
mean,2.439288e+03,2.515734e+03,2.562847e+03,2.480626e+03,2.641750e+03,2.692442e+03,2.608996e+03,2.609247e+03,2.658345e+03,2.638559e+03,3.179302e+03,2.639070e+03,3.166621e+04
std,1.955569e+04,1.722204e+04,1.852453e+04,1.774030e+04,1.931754e+04,2.028655e+04,1.898657e+04,2.098131e+04,2.158379e+04,1.970812e+04,2.903776e+04,1.912902e+04,2.110960e+05
min,-1.223435e+06,-1.944620e+05,-5.149670e+05,-2.932610e+05,-2.343230e+05,-3.143660e+05,-4.364940e+05,-5.097630e+05,-8.961340e+05,-2.811200e+05,-1.471149e+06,-3.068690e+05,-2.040193e+06
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.470000e+02
50%,8.700000e+01,9.000000e+01,9.200000e+01,8.500000e+01,7.600000e+01,5.900000e+01,6.900000e+01,6.900000e+01,6.600000e+01,6.600000e+01,7.700000e+01,5.200000e+01,1.878000e+03
75%,8.130000e+02,8.150000e+02,8.400000e+02,8.190000e+02,8.180000e+02,7.560000e+02,7.690000e+02,7.490000e+02,7.440000e+02,7.430000e+02,8.130000e+02,7.250000e+02,1.167000e+04
max,1.600173e+06,1.254068e+06,1.330740e+06,1.273001e+06,1.506083e+06,1.444746e+06,1.376751e+06,1.201132e+06,1.558106e+06,1.375467e+06,1.414112e+06,1.386712e+06,1.546145e+07

In [58]:
rev['Key2']=rev.Hospital_ID+rev.District_ID

In [59]:
rev.head(3)

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total,Key1,Key2
0,Hospital 1,Region 1,District 12,Instrument 2,8534,9917,7825,11702,8776,7755,9289,7796,7595,8292,7787,8282,103550,Hospital 1District 12Instrument 2,Hospital 1District 12
1,Hospital 1,Region 1,District 12,Instrument 3,298,298,214,311,261,223,237,171,173,183,193,0,2562,Hospital 1District 12Instrument 3,Hospital 1District 12
2,Hospital 1,Region 1,District 13,Instrument 1,37,40,38,43,29,0,0,0,0,0,0,0,187,Hospital 1District 13Instrument 1,Hospital 1District 13

In [60]:
rev[(rev.District_ID == 'No Distrct Available')].count()

Hospital_ID      0
Region_ID        0
District_ID      0
Instrument_ID    0
Month 1          0
Month 2          0
Month 3          0
Month 4          0
Month 5          0
Month 6          0
Month 7          0
Month 8          0
Month 9          0
Month 10         0
Month 11         0
Month 12         0
Year Total       0
Key1             0
Key2             0
dtype: int64

#Merge dfs.

In [61]:
rev_time=rev.copy()

In [62]:
del rev['Month 1']

In [63]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12,Year Total,Key1,Key2
0,Hospital 1,Region 1,District 12,Instrument 2,9917,7825,11702,8776,7755,9289,7796,7595,8292,7787,8282,103550,Hospital 1District 12Instrument 2,Hospital 1District 12
1,Hospital 1,Region 1,District 12,Instrument 3,298,214,311,261,223,237,171,173,183,193,0,2562,Hospital 1District 12Instrument 3,Hospital 1District 12
2,Hospital 1,Region 1,District 13,Instrument 1,40,38,43,29,0,0,0,0,0,0,0,187,Hospital 1District 13Instrument 1,Hospital 1District 13
3,Hospital 1,Region 1,District 13,Instrument 2,3332,3193,2556,2108,2757,2639,2531,2771,2682,12317,1369,40741,Hospital 1District 13Instrument 2,Hospital 1District 13
4,Hospital 1,Region 1,District 13,Instrument 3,892,739,759,736,415,1203,434,448,113,829,1124,8549,Hospital 1District 13Instrument 3,Hospital 1District 13

In [64]:
del rev['Month 2']

In [65]:
del rev['Month 3']

In [66]:
del rev['Month 4']

In [67]:
del rev['Month 5']

In [68]:
del rev['Month 6']

In [69]:
del rev['Month 7']

In [70]:
del rev['Month 8']

In [71]:
del rev['Month 9']

In [72]:
del rev['Month 10']

In [73]:
del rev['Month 11']

In [74]:
del rev['Month 12']

In [75]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Key1,Key2
0,Hospital 1,Region 1,District 12,Instrument 2,103550,Hospital 1District 12Instrument 2,Hospital 1District 12
1,Hospital 1,Region 1,District 12,Instrument 3,2562,Hospital 1District 12Instrument 3,Hospital 1District 12
2,Hospital 1,Region 1,District 13,Instrument 1,187,Hospital 1District 13Instrument 1,Hospital 1District 13
3,Hospital 1,Region 1,District 13,Instrument 2,40741,Hospital 1District 13Instrument 2,Hospital 1District 13
4,Hospital 1,Region 1,District 13,Instrument 3,8549,Hospital 1District 13Instrument 3,Hospital 1District 13

In [76]:
del rev['Year Total']

In [77]:
rev['Year Total']=rev_time['Year Total']

In [78]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Key1,Key2,Year Total
0,Hospital 1,Region 1,District 12,Instrument 2,Hospital 1District 12Instrument 2,Hospital 1District 12,103550
1,Hospital 1,Region 1,District 12,Instrument 3,Hospital 1District 12Instrument 3,Hospital 1District 12,2562
2,Hospital 1,Region 1,District 13,Instrument 1,Hospital 1District 13Instrument 1,Hospital 1District 13,187
3,Hospital 1,Region 1,District 13,Instrument 2,Hospital 1District 13Instrument 2,Hospital 1District 13,40741
4,Hospital 1,Region 1,District 13,Instrument 3,Hospital 1District 13Instrument 3,Hospital 1District 13,8549

In [79]:
del rev['Year Totals']

KeyError: 'Year Totals'

Merge will now happen.

In [80]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Key1,Key2,Year Total
0,Hospital 1,Region 1,District 12,Instrument 2,Hospital 1District 12Instrument 2,Hospital 1District 12,103550
1,Hospital 1,Region 1,District 12,Instrument 3,Hospital 1District 12Instrument 3,Hospital 1District 12,2562
2,Hospital 1,Region 1,District 13,Instrument 1,Hospital 1District 13Instrument 1,Hospital 1District 13,187
3,Hospital 1,Region 1,District 13,Instrument 2,Hospital 1District 13Instrument 2,Hospital 1District 13,40741
4,Hospital 1,Region 1,District 13,Instrument 3,Hospital 1District 13Instrument 3,Hospital 1District 13,8549

In [81]:
del rev['Key1']

In [82]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Key2,Year Total
0,Hospital 1,Region 1,District 12,Instrument 2,Hospital 1District 12,103550
1,Hospital 1,Region 1,District 12,Instrument 3,Hospital 1District 12,2562
2,Hospital 1,Region 1,District 13,Instrument 1,Hospital 1District 13,187
3,Hospital 1,Region 1,District 13,Instrument 2,Hospital 1District 13,40741
4,Hospital 1,Region 1,District 13,Instrument 3,Hospital 1District 13,8549

In [83]:
rev['Year Total'].value_counts()

1          237
2          175
12         151
4          146
36         136
3          135
5          131
8          122
6          120
0          112
13         108
33         104
7           98
11          96
10          95
24          95
9           93
14          92
15          92
66          90
60          85
18          83
17          83
35          81
21          81
48          80
20          79
16          78
22          75
72          75
          ...
13225        1
80808        1
17319        1
25603        1
15368        1
13321        1
44090        1
210448       1
12988        1
74430        1
70733        1
7244         1
9291         1
64197        1
13385        1
19526        1
29761        1
37576        1
2970278      1
3118         1
5165         1
7212         1
9259         1
11306        1
48152        1
604803       1
7002         1
5133         1
7180         1
57236        1
Name: Year Total, dtype: int64

In [84]:
rev['Year Total'].min()

-2040193

In [85]:
rev['Hospital_ID']=rev['Hospital_ID'].str.replace('Hospital ','')

In [86]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Key2,Year Total
0,1,Region 1,District 12,Instrument 2,Hospital 1District 12,103550
1,1,Region 1,District 12,Instrument 3,Hospital 1District 12,2562
2,1,Region 1,District 13,Instrument 1,Hospital 1District 13,187
3,1,Region 1,District 13,Instrument 2,Hospital 1District 13,40741
4,1,Region 1,District 13,Instrument 3,Hospital 1District 13,8549

In [87]:
rev['Region_ID']=rev['Region_ID'].str.replace('Region ','')

In [88]:
rev['District_ID']=rev['District_ID'].str.replace('District ','')

In [89]:
df.head()

,Hospital_ID,District_ID,Hospital_employees,Key
13932,Hospital 251,District 19,1,Hospital 251District 19
1953,Hospital 1110,District 43,1,Hospital 1110District 43
14375,Hospital 279,District 13,1,Hospital 279District 13
14378,Hospital 279,District 19,1,Hospital 279District 19
14379,Hospital 279,District 19,1,Hospital 279District 19

In [90]:
df['District_ID']=df['District_ID'].str.replace('District ','')

In [91]:
df.head()

         Hospital_ID District_ID  Hospital_employees                       Key
13932   Hospital 251          19                   1   Hospital 251District 19
1953   Hospital 1110          43                   1  Hospital 1110District 43
14375   Hospital 279          13                   1   Hospital 279District 13
14378   Hospital 279          19                   1   Hospital 279District 19
14379   Hospital 279          19                   1   Hospital 279District 19

In [92]:
df['Hospital_ID']=df['Hospital_ID'].str.replace('Hospital ','')

In [93]:
df.head()

      Hospital_ID District_ID  Hospital_employees                       Key
13932         251          19                   1   Hospital 251District 19
1953         1110          43                   1  Hospital 1110District 43
14375         279          13                   1   Hospital 279District 13
14378         279          19                   1   Hospital 279District 19
14379         279          19                   1   Hospital 279District 19

In [94]:
rev=rev[((rev['Year Total'] - rev['Year Total'].mean())/rev['Year Total'].std()).abs()<3]

In [95]:
rev.describe()

          Year Total
count   44030.000000
mean    19218.377992
std     57536.307843
min   -514967.000000
25%       243.000000
50%      1833.000000
75%     11234.000000
max    664055.000000

In [96]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Key2,Year Total
0,1,1,12,Instrument 2,Hospital 1District 12,103550
1,1,1,12,Instrument 3,Hospital 1District 12,2562
2,1,1,13,Instrument 1,Hospital 1District 13,187
3,1,1,13,Instrument 2,Hospital 1District 13,40741
4,1,1,13,Instrument 3,Hospital 1District 13,8549

In [97]:
rev['Key']=rev['Key2']

C:\Users\dell pc\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [98]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Key2,Year Total,Key
0,1,1,12,Instrument 2,Hospital 1District 12,103550,Hospital 1District 12
1,1,1,12,Instrument 3,Hospital 1District 12,2562,Hospital 1District 12
2,1,1,13,Instrument 1,Hospital 1District 13,187,Hospital 1District 13
3,1,1,13,Instrument 2,Hospital 1District 13,40741,Hospital 1District 13
4,1,1,13,Instrument 3,Hospital 1District 13,8549,Hospital 1District 13

In [99]:
del rev['Key2']

In [100]:
fin_df=rev.merge(df,how='left',on='Key')

In [101]:
fin_df.describe()

C:\Users\dell pc\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

          Year Total  Hospital_employees
count   49031.000000        36243.000000
mean    21340.439824          979.281765
std     64160.070979         4583.174972
min   -514967.000000            1.000000
25%       260.000000                 NaN
50%      1954.000000                 NaN
75%     12122.000000                 NaN
max    664055.000000       151043.000000

In [102]:
fin_df.head()

,Hospital_ID_x,Region_ID,District_ID_x,Instrument_ID,Year Total,Key,Hospital_ID_y,District_ID_y,Hospital_employees
0,1,1,12,Instrument 2,103550,Hospital 1District 12,1,12,3.0
1,1,1,12,Instrument 3,2562,Hospital 1District 12,1,12,3.0
2,1,1,13,Instrument 1,187,Hospital 1District 13,1,13,6.0
3,1,1,13,Instrument 2,40741,Hospital 1District 13,1,13,6.0
4,1,1,13,Instrument 3,8549,Hospital 1District 13,1,13,6.0

In [103]:

#Applying per column:
print "Missing values per column:"
print fin_df.apply(num_missing, axis=0) #axis=0 defines that function is to be applied on each column

Missing values per column:
Hospital_ID_x             0
Region_ID                 0
District_ID_x             0
Instrument_ID             0
Year Total                0
Key                       0
Hospital_ID_y         12788
District_ID_y         12788
Hospital_employees    12788
dtype: int64

In [104]:
df_2mer = df['Key']

In [105]:
df_2mer2 = df['Hospital_employees']

In [106]:
df_fin_mer = pd.concat([df_2mer,df_2mer2])

In [107]:
df_fin_mer.head()

13932     Hospital 251District 19
1953     Hospital 1110District 43
14375     Hospital 279District 13
14378     Hospital 279District 19
14379     Hospital 279District 19
dtype: object

In [108]:
df_fin_mer.head()

13932     Hospital 251District 19
1953     Hospital 1110District 43
14375     Hospital 279District 13
14378     Hospital 279District 19
14379     Hospital 279District 19
dtype: object

In [109]:
fin_df.head()

,Hospital_ID_x,Region_ID,District_ID_x,Instrument_ID,Year Total,Key,Hospital_ID_y,District_ID_y,Hospital_employees
0,1,1,12,Instrument 2,103550,Hospital 1District 12,1,12,3.0
1,1,1,12,Instrument 3,2562,Hospital 1District 12,1,12,3.0
2,1,1,13,Instrument 1,187,Hospital 1District 13,1,13,6.0
3,1,1,13,Instrument 2,40741,Hospital 1District 13,1,13,6.0
4,1,1,13,Instrument 3,8549,Hospital 1District 13,1,13,6.0

In [110]:
df.head()

      Hospital_ID District_ID  Hospital_employees                       Key
13932         251          19                   1   Hospital 251District 19
1953         1110          43                   1  Hospital 1110District 43
14375         279          13                   1   Hospital 279District 13
14378         279          19                   1   Hospital 279District 19
14379         279          19                   1   Hospital 279District 19

In [111]:
df_for_merge=df.copy()

In [112]:
del df_for_merge['Hospital_ID']

In [113]:
del df_for_merge['District_ID']

In [114]:
df_for_merge.head()

       Hospital_employees                       Key
13932                   1   Hospital 251District 19
1953                    1  Hospital 1110District 43
14375                   1   Hospital 279District 13
14378                   1   Hospital 279District 19
14379                   1   Hospital 279District 19

In [115]:
fin_df_2=rev.merge(df_for_merge,how='left',on='Key')

In [116]:
fin_df_2.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Key,Hospital_employees
0,1,1,12,Instrument 2,103550,Hospital 1District 12,3.0
1,1,1,12,Instrument 3,2562,Hospital 1District 12,3.0
2,1,1,13,Instrument 1,187,Hospital 1District 13,6.0
3,1,1,13,Instrument 2,40741,Hospital 1District 13,6.0
4,1,1,13,Instrument 3,8549,Hospital 1District 13,6.0

In [117]:

#Applying per column:
print "Missing values per column:"
print fin_df_2.apply(num_missing, axis=0) #axis=0 defines that function is to be applied on each column

Missing values per column:
Hospital_ID               0
Region_ID                 0
District_ID               0
Instrument_ID             0
Year Total                0
Key                       0
Hospital_employees    12788
dtype: int64

In [118]:
fin_df_2.describe()

          Year Total  Hospital_employees
count   49031.000000        36243.000000
mean    21340.439824          979.281765
std     64160.070979         4583.174972
min   -514967.000000            1.000000
25%       260.000000                 NaN
50%      1954.000000                 NaN
75%     12122.000000                 NaN
max    664055.000000       151043.000000

In [119]:
fin_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49031 entries, 0 to 49030
Data columns (total 7 columns):
Hospital_ID           49031 non-null object
Region_ID             49031 non-null object
District_ID           49031 non-null object
Instrument_ID         49031 non-null object
Year Total            49031 non-null int64
Key                   49031 non-null object
Hospital_employees    36243 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 3.0+ MB

In [120]:
fin_df_v1=fin_df_2.copy()

In [121]:
del fin_df_2['Key']

In [122]:
fin_df_2.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Hospital_employees
0,1,1,12,Instrument 2,103550,3.0
1,1,1,12,Instrument 3,2562,3.0
2,1,1,13,Instrument 1,187,6.0
3,1,1,13,Instrument 2,40741,6.0
4,1,1,13,Instrument 3,8549,6.0

In [123]:
fin_df_2['Instrument_ID']=fin_df_2['Instrument_ID'].str.replace('Instrument ','')

In [124]:
fin_df_2.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Hospital_employees
0,1,1,12,2,103550,3.0
1,1,1,12,3,2562,3.0
2,1,1,13,1,187,6.0
3,1,1,13,2,40741,6.0
4,1,1,13,3,8549,6.0

In [125]:
fin_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49031 entries, 0 to 49030
Data columns (total 6 columns):
Hospital_ID           49031 non-null object
Region_ID             49031 non-null object
District_ID           49031 non-null object
Instrument_ID         49031 non-null object
Year Total            49031 non-null int64
Hospital_employees    36243 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.6+ MB

In [126]:
fin_df_2=fin_df_2.apply(pd.to_numeric, errors=('coerce'))

In [127]:
fin_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49031 entries, 0 to 49030
Data columns (total 6 columns):
Hospital_ID           49031 non-null int64
Region_ID             49031 non-null int64
District_ID           49031 non-null int64
Instrument_ID         49031 non-null int64
Year Total            49031 non-null int64
Hospital_employees    36243 non-null float64
dtypes: float64(1), int64(5)
memory usage: 2.6 MB

In [128]:
fin_df_2.describe()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Hospital_employees
count,49031.000000,49031.000000,49031.000000,49031.000000,49031.000000,36243.000000
mean,810.387999,2.544472,26.692705,3.407171,21340.439824,979.281765
std,468.008112,1.396149,14.956395,2.316869,64160.070979,4583.174972
min,1.000000,1.000000,1.000000,1.000000,-514967.000000,1.000000
25%,399.000000,1.000000,15.000000,2.000000,260.000000,NaN
50%,815.000000,2.000000,25.000000,3.000000,1954.000000,NaN
75%,1229.000000,3.000000,38.000000,5.000000,12122.000000,NaN
max,1602.000000,6.000000,99.000000,20.000000,664055.000000,151043.000000

In [129]:
fin_df_2['Hospital_employees'].mean()

979.2817647545733

In [130]:
fin_df_3=fin_df_2.fillna(fin_df_2.mean())

In [131]:
fin_df_3.describe()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Hospital_employees
count,49031.000000,49031.000000,49031.000000,49031.000000,49031.000000,49031.000000
mean,810.387999,2.544472,26.692705,3.407171,21340.439824,979.281765
std,468.008112,1.396149,14.956395,2.316869,64160.070979,3940.411420
min,1.000000,1.000000,1.000000,1.000000,-514967.000000,1.000000
25%,399.000000,1.000000,15.000000,2.000000,260.000000,44.000000
50%,815.000000,2.000000,25.000000,3.000000,1954.000000,311.000000
75%,1229.000000,3.000000,38.000000,5.000000,12122.000000,979.281765
max,1602.000000,6.000000,99.000000,20.000000,664055.000000,151043.000000

In [132]:
del fin_df_v1['Key']

In [133]:
fin_df_v1['Instrument_ID']=fin_df_v1['Instrument_ID'].str.replace('Instrument ','')

In [134]:
fin_df_v2=fin_df_v1.fillna(fin_df_v1.mean())

In [135]:
fin_df_v2.describe()

          Year Total  Hospital_employees
count   49031.000000        49031.000000
mean    21340.439824          979.281765
std     64160.070979         3940.411420
min   -514967.000000            1.000000
25%       260.000000           44.000000
50%      1954.000000          311.000000
75%     12122.000000          979.281765
max    664055.000000       151043.000000

In [136]:
column=['Buy']
y = pd.DataFrame(data=None, columns=column)

In [137]:
proj_rev = pd.read_csv("C:\Users\dell pc\Dataset\ProjectedRevenue.csv")

In [138]:
proj_rev.head()

  Hospital_ID  District_ID Instrument_ID  Annual_Projected_Revenue
0  Hospital 1  District 13  Instrument 2                     17164
1  Hospital 1  District 13  Instrument 3                    655645
2  Hospital 1  District 13  Instrument 4                    281452
3  Hospital 1   District 2  Instrument 2                     12199
4  Hospital 1  District 20  Instrument 2                    178128

In [139]:
proj_rev['Key2']=proj_rev.Hospital_ID+proj_rev.District_ID+proj_rev.Instrument_ID

In [140]:
proj_rev.head()

,Hospital_ID,District_ID,Instrument_ID,Annual_Projected_Revenue,Key2
0,Hospital 1,District 13,Instrument 2,17164,Hospital 1District 13Instrument 2
1,Hospital 1,District 13,Instrument 3,655645,Hospital 1District 13Instrument 3
2,Hospital 1,District 13,Instrument 4,281452,Hospital 1District 13Instrument 4
3,Hospital 1,District 2,Instrument 2,12199,Hospital 1District 2Instrument 2
4,Hospital 1,District 20,Instrument 2,178128,Hospital 1District 20Instrument 2

In [141]:
fin_df_v2.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Hospital_employees
0,1,1,12,2,103550,3.0
1,1,1,12,3,2562,3.0
2,1,1,13,1,187,6.0
3,1,1,13,2,40741,6.0
4,1,1,13,3,8549,6.0

In [142]:
del proj_rev['Key1']

KeyError: 'Key1'

In [143]:
fin_df_v3=fin_df_v2.copy()fin_df_v2

SyntaxError: invalid syntax (<ipython-input-143-7c0eb63cc6ba>, line 1)

In [144]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Key
0,1,1,12,Instrument 2,103550,Hospital 1District 12
1,1,1,12,Instrument 3,2562,Hospital 1District 12
2,1,1,13,Instrument 1,187,Hospital 1District 13
3,1,1,13,Instrument 2,40741,Hospital 1District 13
4,1,1,13,Instrument 3,8549,Hospital 1District 13

In [145]:
rev['Key2']=rev['Key']+rev['Instrument_ID']

In [146]:
rev.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Key,Key2
0,1,1,12,Instrument 2,103550,Hospital 1District 12,Hospital 1District 12Instrument 2
1,1,1,12,Instrument 3,2562,Hospital 1District 12,Hospital 1District 12Instrument 3
2,1,1,13,Instrument 1,187,Hospital 1District 13,Hospital 1District 13Instrument 1
3,1,1,13,Instrument 2,40741,Hospital 1District 13,Hospital 1District 13Instrument 2
4,1,1,13,Instrument 3,8549,Hospital 1District 13,Hospital 1District 13Instrument 3

In [147]:
proj_rev_chck=rev.merge(proj_rev,how='right',on='Key2')

In [148]:
proj_rev_chck.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11410 entries, 0 to 11409
Data columns (total 11 columns):
Hospital_ID_x               8043 non-null object
Region_ID                   8043 non-null object
District_ID_x               8043 non-null object
Instrument_ID_x             8043 non-null object
Year Total                  8043 non-null float64
Key                         8043 non-null object
Key2                        11410 non-null object
Hospital_ID_y               11410 non-null object
District_ID_y               11410 non-null object
Instrument_ID_y             11410 non-null object
Annual_Projected_Revenue    11410 non-null int64
dtypes: float64(1), int64(1), object(9)
memory usage: 1.0+ MB

In [149]:
proj_rev_chck.describe()

          Year Total  Annual_Projected_Revenue
count    8043.000000              1.141000e+04
mean    45627.633843              8.703573e+04
std     88733.382415              4.980154e+05
min   -424656.000000              1.020000e+02
25%              NaN              2.900500e+03
50%              NaN              1.200000e+04
75%              NaN              4.713775e+04
max    664055.000000              2.358150e+07

In [150]:

#Applying per column:
print "Missing values per column:"
print proj_rev_chck.apply(num_missing, axis=0) #axis=0 defines that function is to be applied on each column

Missing values per column:
Hospital_ID_x               3367
Region_ID                   3367
District_ID_x               3367
Instrument_ID_x             3367
Year Total                  3367
Key                         3367
Key2                           0
Hospital_ID_y                  0
District_ID_y                  0
Instrument_ID_y                0
Annual_Projected_Revenue       0
dtype: int64

In [151]:
proj_rev_chck['Annual_Projected_Revenue'].min()

102

In [152]:
proj_rev_chck2=rev.merge(proj_rev,how='outer',on='Key2')

In [153]:
proj_rev_chck2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47397 entries, 0 to 47396
Data columns (total 11 columns):
Hospital_ID_x               44030 non-null object
Region_ID                   44030 non-null object
District_ID_x               44030 non-null object
Instrument_ID_x             44030 non-null object
Year Total                  44030 non-null float64
Key                         44030 non-null object
Key2                        47397 non-null object
Hospital_ID_y               11410 non-null object
District_ID_y               11410 non-null object
Instrument_ID_y             11410 non-null object
Annual_Projected_Revenue    11410 non-null float64
dtypes: float64(2), object(9)
memory usage: 4.3+ MB

In [154]:

#Applying per column:
print "Missing values per column:"
print proj_rev_chck2.apply(num_missing, axis=0) #axis=0 defines that function is to be applied on each column

Missing values per column:
Hospital_ID_x                3367
Region_ID                    3367
District_ID_x                3367
Instrument_ID_x              3367
Year Total                   3367
Key                          3367
Key2                            0
Hospital_ID_y               35987
District_ID_y               35987
Instrument_ID_y             35987
Annual_Projected_Revenue    35987
dtype: int64

In [155]:
proj_rev_chck2['Buy'] = np.where(proj_rev_chck2['Annual_Projected_Revenue'].isnull(),'0','1')

In [156]:
proj_rev_chck2.head()

,Hospital_ID_x,Region_ID,District_ID_x,Instrument_ID_x,Year Total,Key,Key2,Hospital_ID_y,District_ID_y,Instrument_ID_y,Annual_Projected_Revenue,Buy
0,1,1,12,Instrument 2,103550.0,Hospital 1District 12,Hospital 1District 12Instrument 2,NaN,NaN,NaN,NaN,0
1,1,1,12,Instrument 3,2562.0,Hospital 1District 12,Hospital 1District 12Instrument 3,NaN,NaN,NaN,NaN,0
2,1,1,13,Instrument 1,187.0,Hospital 1District 13,Hospital 1District 13Instrument 1,NaN,NaN,NaN,NaN,0
3,1,1,13,Instrument 2,40741.0,Hospital 1District 13,Hospital 1District 13Instrument 2,Hospital 1,District 13,Instrument 2,17164.0,1
4,1,1,13,Instrument 3,8549.0,Hospital 1District 13,Hospital 1District 13Instrument 3,Hospital 1,District 13,Instrument 3,655645.0,1

In [157]:
proj_rev_chck2_v1=proj_rev_chck2.copy()

In [158]:
print proj_rev_chck2.apply(num_missing, axis=0)

Hospital_ID_x                3367
Region_ID                    3367
District_ID_x                3367
Instrument_ID_x              3367
Year Total                   3367
Key                          3367
Key2                            0
Hospital_ID_y               35987
District_ID_y               35987
Instrument_ID_y             35987
Annual_Projected_Revenue    35987
Buy                             0
dtype: int64

In [159]:
proj_rev_chck2['Hospital_ID']=np.where(proj_rev_chck2['Hospital_ID_x'].isnull(),proj_rev_chck2['Hospital_ID_y'],proj_rev_chck2['Hospital_ID_x'])

In [160]:
print proj_rev_chck2.apply(num_missing, axis=0)

Hospital_ID_x                3367
Region_ID                    3367
District_ID_x                3367
Instrument_ID_x              3367
Year Total                   3367
Key                          3367
Key2                            0
Hospital_ID_y               35987
District_ID_y               35987
Instrument_ID_y             35987
Annual_Projected_Revenue    35987
Buy                             0
Hospital_ID                     0
dtype: int64

In [161]:
proj_rev_chck2['District_ID']=np.where(proj_rev_chck2['District_ID_x'].isnull(),proj_rev_chck2['District_ID_y'],proj_rev_chck2['District_ID_x'])

In [162]:
proj_rev_chck2['Instrument_ID']=np.where(proj_rev_chck2['Instrument_ID_x'].isnull(),proj_rev_chck2['Instrument_ID_y'],proj_rev_chck2['Instrument_ID_x'])

In [163]:
print proj_rev_chck2.apply(num_missing, axis=0)

Hospital_ID_x                3367
Region_ID                    3367
District_ID_x                3367
Instrument_ID_x              3367
Year Total                   3367
Key                          3367
Key2                            0
Hospital_ID_y               35987
District_ID_y               35987
Instrument_ID_y             35987
Annual_Projected_Revenue    35987
Buy                             0
Hospital_ID                     0
District_ID                     0
Instrument_ID                   0
dtype: int64

In [164]:
proj_rev_chck2_v2=proj_rev_chck2.copy()

In [165]:
proj_rev_chck2['Year Total']=proj_rev_chck2['Year Total'].fillna(proj_rev_chck2['Year Total'].mean())

In [166]:
proj_rev_chck2['Annual_Projected_Revenue']=proj_rev_chck2['Annual_Projected_Revenue'].fillna('0')

In [167]:
print proj_rev_chck2.apply(num_missing, axis=0)

Hospital_ID_x                3367
Region_ID                    3367
District_ID_x                3367
Instrument_ID_x              3367
Year Total                      0
Key                          3367
Key2                            0
Hospital_ID_y               35987
District_ID_y               35987
Instrument_ID_y             35987
Annual_Projected_Revenue        0
Buy                             0
Hospital_ID                     0
District_ID                     0
Instrument_ID                   0
dtype: int64

In [168]:
proj_rev_chck2_v3=proj_rev_chck2.copy()

# DO CHANGES FROM HERE !!!!

In [169]:
del proj_rev_chck2['Hospital_ID_x']

In [170]:
del proj_rev_chck2['Hospital_ID_y']

In [171]:
del proj_rev_chck2['District_ID_y']

In [172]:
del proj_rev_chck2['District_ID_x']

In [173]:
del proj_rev_chck2['Instrument_ID_y']

In [174]:
del proj_rev_chck2['Instrument_ID_x']

In [175]:
print proj_rev_chck2.apply(num_missing, axis=0)

Region_ID                   3367
Year Total                     0
Key                         3367
Key2                           0
Annual_Projected_Revenue       0
Buy                            0
Hospital_ID                    0
District_ID                    0
Instrument_ID                  0
dtype: int64

In [176]:
proj_rev_chck2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47397 entries, 0 to 47396
Data columns (total 9 columns):
Region_ID                   44030 non-null object
Year Total                  47397 non-null float64
Key                         44030 non-null object
Key2                        47397 non-null object
Annual_Projected_Revenue    47397 non-null object
Buy                         47397 non-null object
Hospital_ID                 47397 non-null object
District_ID                 47397 non-null object
Instrument_ID               47397 non-null object
dtypes: float64(1), object(8)
memory usage: 3.6+ MB

In [177]:
del proj_rev_chck2['Key']

In [178]:
proj_rev_chck2['Region_ID'].value_counts()

2    14620
1    12574
3     7899
5     6345
4     2540
6       52
Name: Region_ID, dtype: int64

In [179]:
proj_rev_chck2.head(100)

,Region_ID,Year Total,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID
0,1,103550.0,Hospital 1District 12Instrument 2,0,0,1,12,Instrument 2
1,1,2562.0,Hospital 1District 12Instrument 3,0,0,1,12,Instrument 3
2,1,187.0,Hospital 1District 13Instrument 1,0,0,1,13,Instrument 1
3,1,40741.0,Hospital 1District 13Instrument 2,17164,1,1,13,Instrument 2
4,1,8549.0,Hospital 1District 13Instrument 3,655645,1,1,13,Instrument 3
5,1,1421.0,Hospital 1District 13Instrument 4,281452,1,1,13,Instrument 4
6,1,4820.0,Hospital 1District 13Instrument 5,0,0,1,13,Instrument 5
7,1,10338.0,Hospital 1District 16Instrument 2,0,0,1,16,Instrument 2
8,1,15337.0,Hospital 1District 18Instrument 1,0,0,1,18,Instrument 1
9,1,212707.0,Hospital 1District 18Instrument 2,0,0,1,18,Instrument 2
10,1,18039.0,Hospital 1District 18Instrument 3,0,0,1,18,Instrument 3
11,1,6424.0,Hospital 1District 18Instrument 4,0,0,1,18,Instrument 4
12,1,672.0,Hospital 1District 18Instrument 5,0,0,1,18,Instrument 5
13,1,313.0,Hospital 1District 18Instrument 6,0,0,1,18,Instrument 6
14,1,1688.0,Hospital 1District 19Instrument 1,0,0,1,19,Instrument 1
15,1,12453.0,Hospital 1District 19Instrument 2,0,0,1,19,Instrument 2
16,1,2543.0,Hospital 1District 19Instrument 7,0,0,1,19,Instrument 7
17,1,188.0,Hospital 1District 2Instrument 1,0,0,1,2,Instrument 1
18,1,1864.0,Hospital 1District 2Instrument 2,12199,1,1,2,Instrument 2
19,1,8826.0,Hospital 1District 20Instrument 1,0,0,1,20,Instrument 1
20,1,142957.0,Hospital 1District 20Instrument 2,178128,1,1,20,Instrument 2
21,1,386041.0,Hospital 1District 20Instrument 3,305796,1,1,20,Instrument 3
22,1,5454.0,Hospital 1District 20Instrument 6,0,0,1,20,Instrument 6
23,1,13429.0,Hospital 1District 20Instrument 7,5215,1,1,20,Instrument 7
24,1,18207.0,Hospital 1District 20Instrument 8,280140,1,1,20,Instrument 8
25,1,271.0,Hospital 1District 28Instrument 1,0,0,1,28,Instrument 1
26,1,13793.0,Hospital 1District 28Instrument 2,0,0,1,28,Instrument 2
27,1,658.0,Hospital 1District 28Instrument 3,0,0,1,28,Instrument 3
28,1,801.0,Hospital 1District 28Instrument 4,0,0,1,28,Instrument 4
29,1,23.0,Hospital 1District 28Instrument 5,0,0,1,28,Instrument 5
...,...,...,...,...,...,...,...,...
70,1,1664.0,Hospital 100District 50Instrument 3,0,0,100,50,Instrument 3
71,5,84.0,Hospital 1000District 16Instrument 2,0,0,1000,16,Instrument 2
72,5,455.0,Hospital 1000District 18Instrument 1,0,0,1000,18,Instrument 1
73,5,5873.0,Hospital 1000District 18Instrument 2,0,0,1000,18,Instrument 2
74,5,498.0,Hospital 1000District 18Instrument 3,0,0,1000,18,Instrument 3
75,5,1398.0,Hospital 1000District 18Instrument 4,0,0,1000,18,Instrument 4
76,5,26.0,Hospital 1000District 18Instrument 6,0,0,1000,18,Instrument 6
77,5,174.0,Hospital 1000District 28Instrument 1,0,0,1000,28,Instrument 1
78,5,13121.0,Hospital 1000District 28Instrument 2,0,0,1000,28,Instrument 2
79,5,192.0,Hospital 1000District 28Instrument 3,0,0,1000,28,Instrument 3
80,5,2158.0,Hospital 1000District 28Instrument 4,0,0,1000,28,Instrument 4
81,5,-34.0,Hospital 1000District 28Instrument 6,0,0,1000,28,Instrument 6
82,5,16795.0,Hospital 1000District 37Instrument 2,0,0,1000,37,Instrument 2
83,5,8407.0,Hospital 1000District 37Instrument 3,0,0,1000,37,Instrument 3
84,5,7331.0,Hospital 1000District 37Instrument 4,0,0,1000,37,Instrument 4
85,5,43.0,Hospital 1000District 39Instrument 1,0,0,1000,39,Instrument 1
86,5,693.0,Hospital 1000District 39Instrument 2,0,0,1000,39,Instrument 2
87,5,19.0,Hospital 1000District 41Instrument 1,0,0,1000,41,Instrument 1
88,5,1855.0,Hospital 1000District 41Instrument 2,0,0,1000,41,Instrument 2
89,5,623.0,Hospital 1000District 41Instrument 3,0,0,1000,41,Instrument 3
90,5,16.0,Hospital 1000District 45Instrument 2,0,0,1000,45,Instrument 2
91,5,195146.0,Hospital 1000District 50Instrument 2,9715,1,1000,50,Instrument 2
92,5,12508.0,Hospital 1000District 50Instrument 3,2496,1,1000,50,Instrument 3
93,5,5690.0,Hospital 1000District 50Instrument 5,0,0,1000,50,Instrument 5
94,5,15342.0,Hospital 1000District 99Instrument 11,0,0,1000,99,Instrument 11
95,5,6823.0,Hospital 1000District 99Instrument 15,0,0,1000,99,Instrument 15
96,5,27230.0,Hospital 1000District 99Instrument 6,0,0,1000,99,Instrument 6
97,5,11433.0,Hospital 1000District 99Instrument 7,0,0,1000,99,Instrument 7
98,3,10453.0,Hospital 1001District 12Instrument 2,0,0,1001,12,Instrument 2
99,3,256.0,Hospital 1001District 12Instrument 3,0,0,1001,12,Instrument 3

In [180]:
np.where(proj_rev_chck2['Region_ID'].isnull())

(array([44030, 44031, 44032, ..., 47394, 47395, 47396], dtype=int64),)

In [181]:
proj_rev_chck2['Region_ID']=proj_rev_chck2['Region_ID'].fillna('99')

In [182]:
print proj_rev_chck2.apply(num_missing, axis=0)

Region_ID                   0
Year Total                  0
Key2                        0
Annual_Projected_Revenue    0
Buy                         0
Hospital_ID                 0
District_ID                 0
Instrument_ID               0
dtype: int64

In [183]:
proj_rev_chck2_v4=proj_rev_chck2.copy()

In [184]:
proj_rev_chck2_v4['Year_Total']=proj_rev_chck2_v4['Year Total']

In [185]:
del proj_rev_chck2_v4['Year Total']

In [186]:
from sklearn.cross_validation import train_test_split


train,test=train_test_split(proj_rev_chck2_v4,test_size=0.2)

In [188]:
train.head(40)

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total
4122,4,Hospital 1138District 39Instrument 1,0,0,1138,39,Instrument 1,571.000000
13395,2,Hospital 1441District 13Instrument 3,1728,1,1441,13,Instrument 3,4528.000000
40021,3,Hospital 871District 51Instrument 3,0,0,871,51,Instrument 3,418.000000
5886,5,Hospital 1202District 13Instrument 1,0,0,1202,13,Instrument 1,67.000000
24633,1,Hospital 35District 39Instrument 7,0,0,35,39,Instrument 7,10027.000000
30792,1,Hospital 562District 20Instrument 6,0,0,562,20,Instrument 6,1452.000000
44198,99,Hospital 83No District AvailableInstrument 13,42833,1,Hospital 83,No District Available,Instrument 13,19218.377992
24072,1,Hospital 332District 12Instrument 2,32742,1,332,12,Instrument 2,86162.000000
17053,4,Hospital 1559District 48Instrument 2,0,0,1559,48,Instrument 2,16746.000000
32420,2,Hospital 62District 50Instrument 2,0,0,62,50,Instrument 2,8556.000000
592,3,Hospital 1016District 13Instrument 8,0,0,1016,13,Instrument 8,2854.000000
11146,3,Hospital 1371District 28Instrument 5,0,0,1371,28,Instrument 5,385.000000
395,1,Hospital 1008District 39Instrument 7,0,0,1008,39,Instrument 7,14171.000000
47159,99,Hospital 919District 4Instrument 3,7680,1,Hospital 919,District 4,Instrument 3,19218.377992
18747,2,Hospital 169District 6Instrument 2,0,0,169,6,Instrument 2,2495.000000
5693,2,Hospital 1198District 13Instrument 8,0,0,1198,13,Instrument 8,412.000000
6611,2,Hospital 1227District 8Instrument 2,0,0,1227,8,Instrument 2,34118.000000
32706,1,Hospital 630District 13Instrument 4,0,0,630,13,Instrument 4,9505.000000
35418,5,Hospital 715District 99Instrument 11,0,0,715,99,Instrument 11,114061.000000
27536,1,Hospital 444District 29Instrument 3,0,0,444,29,Instrument 3,171.000000
28196,5,Hospital 469District 14Instrument 20,0,0,469,14,Instrument 20,498.000000
35603,5,Hospital 722District 17Instrument 2,15924,1,722,17,Instrument 2,18411.000000
45746,99,Hospital 214District 13Instrument 7,300,1,Hospital 214,District 13,Instrument 7,19218.377992
43318,2,Hospital 982District 13Instrument 5,0,0,982,13,Instrument 5,3031.000000
38983,2,Hospital 836District 15Instrument 2,0,0,836,15,Instrument 2,145.000000
18324,1,Hospital 16District 29Instrument 3,0,0,16,29,Instrument 3,1189.000000
33654,1,Hospital 672District 18Instrument 6,0,0,672,18,Instrument 6,28.000000
15308,1,Hospital 1501District 51Instrument 7,0,0,1501,51,Instrument 7,283.000000
25478,5,Hospital 385District 39Instrument 1,0,0,385,39,Instrument 1,1750.000000
42745,1,Hospital 959District 20Instrument 3,7320,1,959,20,Instrument 3,35844.000000
45146,99,Hospital 1390District 50Instrument 8,1.16012e+06,1,Hospital 1390,District 50,Instrument 8,19218.377992
37614,2,Hospital 790District 41Instrument 3,0,0,790,41,Instrument 3,166.000000
1459,1,Hospital 1051District 99Instrument 10,0,0,1051,99,Instrument 10,212409.000000
36117,2,Hospital 739District 20Instrument 2,2815,1,739,20,Instrument 2,23261.000000
35288,2,Hospital 713District 48Instrument 7,90000,1,713,48,Instrument 7,134209.000000
25051,2,Hospital 37District 28Instrument 2,0,0,37,28,Instrument 2,4455.000000
20057,2,Hospital 205District 10Instrument 4,0,0,205,10,Instrument 4,234.000000
40506,2,Hospital 888District 20Instrument 2,54600,1,888,20,Instrument 2,117067.000000
13529,2,Hospital 1449District 19Instrument 1,0,0,1449,19,Instrument 1,2134.000000
20886,2,Hospital 228District 18Instrument 3,3654,1,228,18,Instrument 3,21559.000000

In [189]:
proj_rev_chck2_v4['Hospital_ID']=proj_rev_chck2_v4['Hospital_ID'].str.replace('Hospital ','')

In [190]:
proj_rev_chck2_v4['District_ID']=proj_rev_chck2_v4['District_ID'].str.replace('District ','')

In [191]:
proj_rev_chck2_v4['District_ID']=proj_rev_chck2_v4['District_ID'].str.replace('No Available','53')

In [192]:
proj_rev_chck2_v4.head(40)

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total
0,1,Hospital 1District 12Instrument 2,0,0,1,12,Instrument 2,103550.0
1,1,Hospital 1District 12Instrument 3,0,0,1,12,Instrument 3,2562.0
2,1,Hospital 1District 13Instrument 1,0,0,1,13,Instrument 1,187.0
3,1,Hospital 1District 13Instrument 2,17164,1,1,13,Instrument 2,40741.0
4,1,Hospital 1District 13Instrument 3,655645,1,1,13,Instrument 3,8549.0
5,1,Hospital 1District 13Instrument 4,281452,1,1,13,Instrument 4,1421.0
6,1,Hospital 1District 13Instrument 5,0,0,1,13,Instrument 5,4820.0
7,1,Hospital 1District 16Instrument 2,0,0,1,16,Instrument 2,10338.0
8,1,Hospital 1District 18Instrument 1,0,0,1,18,Instrument 1,15337.0
9,1,Hospital 1District 18Instrument 2,0,0,1,18,Instrument 2,212707.0
10,1,Hospital 1District 18Instrument 3,0,0,1,18,Instrument 3,18039.0
11,1,Hospital 1District 18Instrument 4,0,0,1,18,Instrument 4,6424.0
12,1,Hospital 1District 18Instrument 5,0,0,1,18,Instrument 5,672.0
13,1,Hospital 1District 18Instrument 6,0,0,1,18,Instrument 6,313.0
14,1,Hospital 1District 19Instrument 1,0,0,1,19,Instrument 1,1688.0
15,1,Hospital 1District 19Instrument 2,0,0,1,19,Instrument 2,12453.0
16,1,Hospital 1District 19Instrument 7,0,0,1,19,Instrument 7,2543.0
17,1,Hospital 1District 2Instrument 1,0,0,1,2,Instrument 1,188.0
18,1,Hospital 1District 2Instrument 2,12199,1,1,2,Instrument 2,1864.0
19,1,Hospital 1District 20Instrument 1,0,0,1,20,Instrument 1,8826.0
20,1,Hospital 1District 20Instrument 2,178128,1,1,20,Instrument 2,142957.0
21,1,Hospital 1District 20Instrument 3,305796,1,1,20,Instrument 3,386041.0
22,1,Hospital 1District 20Instrument 6,0,0,1,20,Instrument 6,5454.0
23,1,Hospital 1District 20Instrument 7,5215,1,1,20,Instrument 7,13429.0
24,1,Hospital 1District 20Instrument 8,280140,1,1,20,Instrument 8,18207.0
25,1,Hospital 1District 28Instrument 1,0,0,1,28,Instrument 1,271.0
26,1,Hospital 1District 28Instrument 2,0,0,1,28,Instrument 2,13793.0
27,1,Hospital 1District 28Instrument 3,0,0,1,28,Instrument 3,658.0
28,1,Hospital 1District 28Instrument 4,0,0,1,28,Instrument 4,801.0
29,1,Hospital 1District 28Instrument 5,0,0,1,28,Instrument 5,23.0
30,1,Hospital 1District 28Instrument 6,0,0,1,28,Instrument 6,-376.0
31,1,Hospital 1District 3Instrument 2,0,0,1,3,Instrument 2,1212.0
32,1,Hospital 1District 34Instrument 2,0,0,1,34,Instrument 2,105.0
33,1,Hospital 1District 34Instrument 3,0,0,1,34,Instrument 3,2171.0
34,1,Hospital 1District 34Instrument 4,0,0,1,34,Instrument 4,384.0
35,1,Hospital 1District 35Instrument 2,0,0,1,35,Instrument 2,13028.0
36,1,Hospital 1District 37Instrument 2,0,0,1,37,Instrument 2,57370.0
37,1,Hospital 1District 37Instrument 3,0,0,1,37,Instrument 3,2160.0
38,1,Hospital 1District 37Instrument 4,0,0,1,37,Instrument 4,281.0
39,1,Hospital 1District 39Instrument 4,0,0,1,39,Instrument 4,42.0

In [193]:
proj_rev_chck2_v4['Instrument_ID']=proj_rev_chck2_v4['Instrument_ID'].str.replace('Instrument ','')

In [194]:
proj_rev_chck2_v4.head()

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total
0,1,Hospital 1District 12Instrument 2,0,0,1,12,2,103550.0
1,1,Hospital 1District 12Instrument 3,0,0,1,12,3,2562.0
2,1,Hospital 1District 13Instrument 1,0,0,1,13,1,187.0
3,1,Hospital 1District 13Instrument 2,17164,1,1,13,2,40741.0
4,1,Hospital 1District 13Instrument 3,655645,1,1,13,3,8549.0

In [195]:
from sklearn.cross_validation import train_test_split
train1,test1=train_test_split(proj_rev_chck2_v4,test_size=0.2)

In [200]:
proj_rev_chck2_v4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47397 entries, 0 to 47396
Data columns (total 8 columns):
Region_ID                   47397 non-null object
Key2                        47397 non-null object
Annual_Projected_Revenue    47397 non-null object
Buy                         47397 non-null object
Hospital_ID                 47397 non-null object
District_ID                 47397 non-null object
Instrument_ID               47397 non-null object
Year_Total                  47397 non-null float64
dtypes: float64(1), object(7)
memory usage: 3.3+ MB

In [201]:
proj_rev_chck2_v4['Annual_Projected_Revenue']=proj_rev_chck2_v4['Annual_Projected_Revenue'].apply(pd.to_numeric, errors=('coerce'))

In [202]:
proj_rev_chck2_v4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47397 entries, 0 to 47396
Data columns (total 8 columns):
Region_ID                   47397 non-null object
Key2                        47397 non-null object
Annual_Projected_Revenue    47397 non-null float64
Buy                         47397 non-null object
Hospital_ID                 47397 non-null object
District_ID                 47397 non-null object
Instrument_ID               47397 non-null object
Year_Total                  47397 non-null float64
dtypes: float64(2), object(6)
memory usage: 3.3+ MB

In [203]:
proj_rev_chck2_v4['Buy']=proj_rev_chck2_v4['Buy'].apply(pd.to_numeric, errors=('coerce'))

In [204]:
proj_rev_chck2_v4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47397 entries, 0 to 47396
Data columns (total 8 columns):
Region_ID                   47397 non-null object
Key2                        47397 non-null object
Annual_Projected_Revenue    47397 non-null float64
Buy                         47397 non-null int64
Hospital_ID                 47397 non-null object
District_ID                 47397 non-null object
Instrument_ID               47397 non-null object
Year_Total                  47397 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 3.3+ MB

In [205]:
proj_rev_chck2_v4 = proj_rev_chck2_v4[((proj_rev_chck2_v4['Annual_Projected_Revenue'] - proj_rev_chck2_v4['Annual_Projected_Revenue'].mean())/proj_rev_chck2_v4['Annual_Projected_Revenue'].std()).abs()<3]

In [207]:
from sklearn.cross_validation import train_test_split
train2,test2=train_test_split(proj_rev_chck2_v4,test_size=0.2)

In [209]:
train2['intercept'] = 1.0

C:\Users\dell pc\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [210]:
train2.head()

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total,intercept
5275,3,Hospital 1183District 13Instrument 8,0.0,0,1183,13,8,1631.0,1.0
38439,2,Hospital 814District 44Instrument 2,0.0,0,814,44,2,1293.0,1.0
40586,1,Hospital 89District 41Instrument 1,0.0,0,89,41,1,1272.0,1.0
7247,1,Hospital 1250District 37Instrument 2,0.0,0,1250,37,2,650.0,1.0
20247,1,Hospital 213District 20Instrument 1,0.0,0,213,20,1,14.0,1.0

In [212]:
train_cols = ['Hospital_ID','District_ID','Instrument_ID','Year_Total','Region_ID','Annual_Projected_Revenue']
logit = sm.Logit(train2['Buy'].astype(float), train2[train_cols].astype(float))
result = logit.fit()
print result.summary2()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35
                                Results: Logit
===============================================================================
Model:                   Logit                Pseudo R-squared:     1.000
Dependent Variable:      Buy                  AIC:                  14.0000
Date:                    2016-07-31 16:30     BIC:                  73.7729
No. Observations:        37759                Log-Likelihood:       -2.7327e-06
Df Model:                6                    LL-Null:              -20769.
Df Residuals:            37752                LLR p-value:          0.0000
Converged:               0.0000               Scale:                1.0000
No. Iterations:          35.0000
-------------------------------------------------------------------------------
                          Coef.    Std.Err.    z    P>|z|    [0.025     0.975]
-------------------------------------------------------------------------------
Hospital_ID               -0.0014    2.8772 -0.0005 0.9996    -5.6406    5.6377
District_ID                0.0024   88.9757  0.0000 1.0000  -174.3866  174.3915
Instrument_ID             -1.2346  687.7861 -0.0018 0.9986 -1349.2707 1346.8014
Year_Total                -0.0000    0.0478 -0.0001 0.9999    -0.0936    0.0936
Region_ID                  0.0741   56.3637  0.0013 0.9990  -110.3967  110.5448
Annual_Projected_Revenue   0.4166   36.8244  0.0113 0.9910   -71.7578   72.5911
intercept                -21.6140 3637.0051 -0.0059 0.9953 -7150.0129 7106.7849
===============================================================================

C:\Users\dell pc\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [215]:
train_cols1 = ['Hospital_ID','District_ID','Instrument_ID','Year_Total','Annual_Projected_Revenue','intercept']
logit1 = sm.Logit(train2['Buy'].astype(float), train2[train_cols1].astype(float))
result1 = logit1.fit()
print result1.summary2()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35
                               Results: Logit
============================================================================
Model:                  Logit               Pseudo R-squared:    1.000
Dependent Variable:     Buy                 AIC:                 12.0005
Date:                   2016-07-31 16:33    BIC:                 63.2343
No. Observations:       37759               Log-Likelihood:      -0.00022708
Df Model:               5                   LL-Null:             -20769.
Df Residuals:           37753               LLR p-value:         0.0000
Converged:              0.0000              Scale:               1.0000
No. Iterations:         35.0000
----------------------------------------------------------------------------
                          Coef.   Std.Err.    z    P>|z|    [0.025   0.975]
----------------------------------------------------------------------------
Hospital_ID               -0.0074   0.5158 -0.0143 0.9886   -1.0183   1.0036
District_ID               -0.2205  11.9376 -0.0185 0.9853  -23.6178  23.1767
Instrument_ID             -1.1258 115.5751 -0.0097 0.9922 -227.6487 225.3972
Year_Total                -0.0000   0.0045 -0.0027 0.9979   -0.0088   0.0088
Annual_Projected_Revenue   0.4886  17.1763  0.0284 0.9773  -33.1763  34.1536
intercept                -11.1111 202.7987 -0.0548 0.9563 -408.5894 386.3671
============================================================================

C:\Users\dell pc\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [216]:
train_cols2 = ['Hospital_ID','Instrument_ID','Year_Total','Annual_Projected_Revenue','intercept']
logit2 = sm.Logit(train2['Buy'].astype(float), train2[train_cols2].astype(float))
result2 = logit1.fit()
print result2.summary2()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35
                               Results: Logit
============================================================================
Model:                  Logit               Pseudo R-squared:    1.000
Dependent Variable:     Buy                 AIC:                 12.0005
Date:                   2016-07-31 16:34    BIC:                 63.2343
No. Observations:       37759               Log-Likelihood:      -0.00022708
Df Model:               5                   LL-Null:             -20769.
Df Residuals:           37753               LLR p-value:         0.0000
Converged:              0.0000              Scale:               1.0000
No. Iterations:         35.0000
----------------------------------------------------------------------------
                          Coef.   Std.Err.    z    P>|z|    [0.025   0.975]
----------------------------------------------------------------------------
Hospital_ID               -0.0074   0.5158 -0.0143 0.9886   -1.0183   1.0036
District_ID               -0.2205  11.9376 -0.0185 0.9853  -23.6178  23.1767
Instrument_ID             -1.1258 115.5751 -0.0097 0.9922 -227.6487 225.3972
Year_Total                -0.0000   0.0045 -0.0027 0.9979   -0.0088   0.0088
Annual_Projected_Revenue   0.4886  17.1763  0.0284 0.9773  -33.1763  34.1536
intercept                -11.1111 202.7987 -0.0548 0.9563 -408.5894 386.3671
============================================================================

C:\Users\dell pc\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [217]:
fin_df_v2.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Hospital_employees
0,1,1,12,2,103550,3.0
1,1,1,12,3,2562,3.0
2,1,1,13,1,187,6.0
3,1,1,13,2,40741,6.0
4,1,1,13,3,8549,6.0

In [218]:
fin_df_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49031 entries, 0 to 49030
Data columns (total 6 columns):
Hospital_ID           49031 non-null object
Region_ID             49031 non-null object
District_ID           49031 non-null object
Instrument_ID         49031 non-null object
Year Total            49031 non-null int64
Hospital_employees    36243 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.6+ MB

In [219]:
fin_df_v1.describe()

          Year Total  Hospital_employees
count   49031.000000        36243.000000
mean    21340.439824          979.281765
std     64160.070979         4583.174972
min   -514967.000000            1.000000
25%       260.000000                 NaN
50%      1954.000000                 NaN
75%     12122.000000                 NaN
max    664055.000000       151043.000000

In [220]:
fin_df_v1.head()

,Hospital_ID,Region_ID,District_ID,Instrument_ID,Year Total,Hospital_employees
0,1,1,12,2,103550,3.0
1,1,1,12,3,2562,3.0
2,1,1,13,1,187,6.0
3,1,1,13,2,40741,6.0
4,1,1,13,3,8549,6.0

In [221]:
proj_rev_chck2_v3.head()

,Hospital_ID_x,Region_ID,District_ID_x,Instrument_ID_x,Year Total,Key,Key2,Hospital_ID_y,District_ID_y,Instrument_ID_y,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID
0,1,1,12,Instrument 2,103550.0,Hospital 1District 12,Hospital 1District 12Instrument 2,NaN,NaN,NaN,0,0,1,12,Instrument 2
1,1,1,12,Instrument 3,2562.0,Hospital 1District 12,Hospital 1District 12Instrument 3,NaN,NaN,NaN,0,0,1,12,Instrument 3
2,1,1,13,Instrument 1,187.0,Hospital 1District 13,Hospital 1District 13Instrument 1,NaN,NaN,NaN,0,0,1,13,Instrument 1
3,1,1,13,Instrument 2,40741.0,Hospital 1District 13,Hospital 1District 13Instrument 2,Hospital 1,District 13,Instrument 2,17164,1,1,13,Instrument 2
4,1,1,13,Instrument 3,8549.0,Hospital 1District 13,Hospital 1District 13Instrument 3,Hospital 1,District 13,Instrument 3,655645,1,1,13,Instrument 3

In [223]:
proj_rev_all = proj_rev_chck2_v3.copy()

In [230]:
proj_rev_all_features = proj_rev_all.merge(df_for_merge,how='left',on='Key')

In [232]:
proj_rev_chck2_v4.head()

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total
0,1,Hospital 1District 12Instrument 2,0.0,0,1,12,2,103550.0
1,1,Hospital 1District 12Instrument 3,0.0,0,1,12,3,2562.0
2,1,Hospital 1District 13Instrument 1,0.0,0,1,13,1,187.0
3,1,Hospital 1District 13Instrument 2,17164.0,1,1,13,2,40741.0
4,1,Hospital 1District 13Instrument 3,655645.0,1,1,13,3,8549.0

In [233]:
zs_1 = proj_rev_chck2_v4.copy()

In [235]:
zs_1['Key']=zs_1['Key2'].replace(to_replace='Instrument \d+',value='',regex=True)

In [236]:
zs_1.head()

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total,Key
0,1,Hospital 1District 12Instrument 2,0.0,0,1,12,2,103550.0,Hospital 1District 12
1,1,Hospital 1District 12Instrument 3,0.0,0,1,12,3,2562.0,Hospital 1District 12
2,1,Hospital 1District 13Instrument 1,0.0,0,1,13,1,187.0,Hospital 1District 13
3,1,Hospital 1District 13Instrument 2,17164.0,1,1,13,2,40741.0,Hospital 1District 13
4,1,Hospital 1District 13Instrument 3,655645.0,1,1,13,3,8549.0,Hospital 1District 13

In [237]:
print zs_1.apply(num_missing, axis=0)

Region_ID                   0
Key2                        0
Annual_Projected_Revenue    0
Buy                         0
Hospital_ID                 0
District_ID                 0
Instrument_ID               0
Year_Total                  0
Key                         0
dtype: int64

In [238]:
zs_2 = zs_1.merge(df_for_merge,how='left',on='Key')

In [239]:
zs_2.head()

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total,Key,Hospital_employees
0,1,Hospital 1District 12Instrument 2,0.0,0,1,12,2,103550.0,Hospital 1District 12,3.0
1,1,Hospital 1District 12Instrument 3,0.0,0,1,12,3,2562.0,Hospital 1District 12,3.0
2,1,Hospital 1District 13Instrument 1,0.0,0,1,13,1,187.0,Hospital 1District 13,6.0
3,1,Hospital 1District 13Instrument 2,17164.0,1,1,13,2,40741.0,Hospital 1District 13,6.0
4,1,Hospital 1District 13Instrument 3,655645.0,1,1,13,3,8549.0,Hospital 1District 13,6.0

In [240]:
print zs_2.apply(num_missing, axis=0)

Region_ID                       0
Key2                            0
Annual_Projected_Revenue        0
Buy                             0
Hospital_ID                     0
District_ID                     0
Instrument_ID                   0
Year_Total                      0
Key                             0
Hospital_employees          13747
dtype: int64

In [241]:
zs_2['Hospital_employees']=zs_2['Hospital_employees'].fillna(zs_2['Hospital_employees'].mean())

In [242]:
zs_2.head()

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total,Key,Hospital_employees
0,1,Hospital 1District 12Instrument 2,0.0,0,1,12,2,103550.0,Hospital 1District 12,3.0
1,1,Hospital 1District 12Instrument 3,0.0,0,1,12,3,2562.0,Hospital 1District 12,3.0
2,1,Hospital 1District 13Instrument 1,0.0,0,1,13,1,187.0,Hospital 1District 13,6.0
3,1,Hospital 1District 13Instrument 2,17164.0,1,1,13,2,40741.0,Hospital 1District 13,6.0
4,1,Hospital 1District 13Instrument 3,655645.0,1,1,13,3,8549.0,Hospital 1District 13,6.0

In [245]:
zs_2['intercept']=1.0

In [246]:
zs_2_v1=zs_2.copy()

In [247]:
train_cols4 = ['Hospital_ID','Instrument_ID','District_ID','Region_ID','Year_Total','Annual_Projected_Revenue','Hospital_employees','intercept']

In [248]:
from sklearn.cross_validation import train_test_split
train4,test4=train_test_split(zs_2,test_size=0.2)

In [249]:
logit4 = sm.Logit(train4['Buy'].astype(float), train4[train_cols4].astype(float))
result4 = logit4.fit()
print result4.summary2()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35
                                Results: Logit
===============================================================================
Model:                   Logit                Pseudo R-squared:     1.000
Dependent Variable:      Buy                  AIC:                  16.0000
Date:                    2016-07-31 17:28     BIC:                  85.1418
No. Observations:        41887                Log-Likelihood:       -7.7193e-07
Df Model:                7                    LL-Null:              -23022.
Df Residuals:            41879                LLR p-value:          0.0000
Converged:               0.0000               Scale:                1.0000
No. Iterations:          35.0000
-------------------------------------------------------------------------------
                          Coef.    Std.Err.    z    P>|z|    [0.025     0.975]
-------------------------------------------------------------------------------
Hospital_ID               -0.0030    3.8636 -0.0008 0.9994    -7.5755    7.5695
Instrument_ID             -0.8401 1022.2552 -0.0008 0.9993 -2004.4236 2002.7433
District_ID               -0.0902  125.2156 -0.0007 0.9994  -245.5082  245.3278
Region_ID                  0.0399   73.2057  0.0005 0.9996  -143.4406  143.5205
Year_Total                -0.0000    0.0665 -0.0004 0.9997    -0.1303    0.1303
Annual_Projected_Revenue   0.4441   59.6712  0.0074 0.9941  -116.5093  117.3974
Hospital_employees        -0.0003    0.7886 -0.0004 0.9997    -1.5459    1.5453
intercept                -19.3268 3291.9165 -0.0059 0.9953 -6471.3645 6432.7110
===============================================================================

C:\Users\dell pc\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [250]:
train_cols5 = ['Hospital_ID','Instrument_ID','District_ID','Year_Total','Annual_Projected_Revenue','Hospital_employees','intercept']

In [252]:
logit5 = sm.Logit(train4['Buy'].astype(float), train4[train_cols5].astype(float))
result5 = logit5.fit()
print result5.summary2()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.008807
         Iterations: 35
                              Results: Logit
==========================================================================
Model:                   Logit               Pseudo R-squared:    0.984
Dependent Variable:      Buy                 AIC:                 751.8131
Date:                    2016-07-31 17:30    BIC:                 812.3122
No. Observations:        41887               Log-Likelihood:      -368.91
Df Model:                6                   LL-Null:             -23022.
Df Residuals:            41880               LLR p-value:         0.0000
Converged:               0.0000              Scale:               1.0000
No. Iterations:          35.0000
--------------------------------------------------------------------------
                          Coef.   Std.Err.    z    P>|z|   [0.025   0.975]
--------------------------------------------------------------------------
Hospital_ID               -0.0019   0.0011 -1.6922 0.0906  -0.0042  0.0003
Instrument_ID              0.4812   0.2430  1.9807 0.0476   0.0050  0.9574
District_ID                0.0010   0.0751  0.0130 0.9896  -0.1463  0.1482
Year_Total                 0.0000   0.0000  0.7361 0.4616  -0.0000  0.0000
Annual_Projected_Revenue   0.3562   9.1096  0.0391 0.9688 -17.4983 18.2106
Hospital_employees         0.0004   0.0002  2.3907 0.0168   0.0001  0.0007
intercept                -20.9606   9.2951 -2.2550 0.0241 -39.1787 -2.7425
==========================================================================

C:\Users\dell pc\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [253]:
solve = pd.read_csv("C:\Users\dell pc\Dataset\Solution.csv")

In [254]:
solve.head()

  Hospital_ID  District_ID  Instrument_ID  Buy_or_not  Revenue
0  Hospital 1  District 12   Instrument 1         NaN      NaN
1  Hospital 1  District 12  Instrument 10         NaN      NaN
2  Hospital 1  District 12  Instrument 11         NaN      NaN
3  Hospital 1  District 12  Instrument 13         NaN      NaN
4  Hospital 1  District 12  Instrument 15         NaN      NaN

In [255]:
solve['Key2']=solve.Hospital_ID+solve.District_ID+solve.Instrument_ID

In [256]:
solve.head()

,Hospital_ID,District_ID,Instrument_ID,Buy_or_not,Revenue,Key2
0,Hospital 1,District 12,Instrument 1,NaN,NaN,Hospital 1District 12Instrument 1
1,Hospital 1,District 12,Instrument 10,NaN,NaN,Hospital 1District 12Instrument 10
2,Hospital 1,District 12,Instrument 11,NaN,NaN,Hospital 1District 12Instrument 11
3,Hospital 1,District 12,Instrument 13,NaN,NaN,Hospital 1District 12Instrument 13
4,Hospital 1,District 12,Instrument 15,NaN,NaN,Hospital 1District 12Instrument 15

In [260]:
del solve['Key2']

In [257]:
zs_2_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52359 entries, 0 to 52358
Data columns (total 11 columns):
Region_ID                   52359 non-null object
Key2                        52359 non-null object
Annual_Projected_Revenue    52359 non-null float64
Buy                         52359 non-null int64
Hospital_ID                 52359 non-null object
District_ID                 52359 non-null object
Instrument_ID               52359 non-null object
Year_Total                  52359 non-null float64
Key                         52359 non-null object
Hospital_employees          52359 non-null float64
intercept                   52359 non-null float64
dtypes: float64(4), int64(1), object(6)
memory usage: 4.8+ MB

In [261]:
logit6 = sm.Logit(zs_2_v1['Buy'].astype(float), zs_2_v1[train_cols4].astype(float))
result6 = logit6.fit()
print result6.summary2()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35
                                Results: Logit
===============================================================================
Model:                   Logit                Pseudo R-squared:     1.000
Dependent Variable:      Buy                  AIC:                  16.0000
Date:                    2016-07-31 17:57     BIC:                  86.9270
No. Observations:        52359                Log-Likelihood:       -1.0682e-06
Df Model:                7                    LL-Null:              -28750.
Df Residuals:            52351                LLR p-value:          0.0000
Converged:               0.0000               Scale:                1.0000
No. Iterations:          35.0000
-------------------------------------------------------------------------------
                          Coef.    Std.Err.    z    P>|z|    [0.025     0.975]
-------------------------------------------------------------------------------
Hospital_ID               -0.0031    3.2964 -0.0009 0.9993    -6.4639    6.4577
Instrument_ID             -0.9118  855.5523 -0.0011 0.9991 -1677.7636 1675.9399
District_ID               -0.0933  106.9441 -0.0009 0.9993  -209.7000  209.5133
Region_ID                  0.0399   60.3406  0.0007 0.9995  -118.2255  118.3054
Year_Total                -0.0000    0.0328 -0.0004 0.9997    -0.0643    0.0643
Annual_Projected_Revenue   0.4429   51.9638  0.0085 0.9932  -101.4043  102.2900
Hospital_employees        -0.0004    0.6175 -0.0006 0.9995    -1.2106    1.2099
intercept                -19.1106 2788.8887 -0.0069 0.9945 -5485.2320 5447.0108
===============================================================================

C:\Users\dell pc\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [267]:
test4=test4.apply(pd.to_numeric, errors=('coerce'))

In [270]:
train4=train4.apply(pd.to_numeric, errors=('coerce'))

In [ ]:
final=['Buy']

In [274]:
test4.head()

,Region_ID,Key2,Annual_Projected_Revenue,Buy,Hospital_ID,District_ID,Instrument_ID,Year_Total,Key,Hospital_employees,intercept
21715,3,NaN,0.0,0,190,14,7,351.000000,NaN,1007.791697,1.0
40949,2,NaN,0.0,0,778,39,4,1593.000000,NaN,9.000000,1.0
5276,1,NaN,0.0,0,1172,50,3,2878.000000,NaN,1007.791697,1.0
27543,1,NaN,0.0,0,365,50,3,16552.000000,NaN,1007.791697,1.0
52078,99,NaN,1620.0,1,907,5,3,19218.377992,NaN,14.000000,1.0

In [268]:
pred_train = result4.predict(test4[train_cols4])

In [275]:
print pred_train

[  1.49555216e-12   4.16823024e-13   7.57967141e-14 ...,   1.34331996e-13
   2.69526366e-13   1.09714279e-12]

In [272]:
target=['Buy']
from sklearn.metrics import mean_squared_error
mean_squared_error(pred_train,test4[target])

2.2324143874257405e-15

In [273]:
column=['Hospital_ID','District_ID','Instrument_ID']
targets=['Buy_or_Not']

In [277]:
solve['Instrument_ID']=solve['Instrument_ID'].str.replace('Instrument ','')

In [278]:
solve['District_ID']=solve['District_ID'].str.replace('District ','')

In [279]:
solve['Hospital_ID']=solve['Hospital_ID'].str.replace('Hospital ','')

In [280]:
del solve['Buy_or_not']

In [281]:
del solve['Revenue']

In [282]:
solve=solve.apply(pd.to_numeric, errors=('coerce'))

In [284]:
predicting = result4.predict(solve[column])

ValueError: shapes (193810,3) and (8,) not aligned: 3 (dim 1) != 8 (dim 0)

In [285]:
solve.head()

   Hospital_ID  District_ID  Instrument_ID
0            1           12              1
1            1           12             10
2            1           12             11
3            1           12             13
4            1           12             15

In [286]:
solve.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193810 entries, 0 to 193809
Data columns (total 3 columns):
Hospital_ID      193810 non-null int64
District_ID      193810 non-null int64
Instrument_ID    193810 non-null int64
dtypes: int64(3)
memory usage: 4.4 MB

In [287]:
solve2 = pd.read_csv("C:\Users\dell pc\Dataset\Solution.csv")

In [288]:
solve2['Key2']=solve2.Hospital_ID+solve2.District_ID+solve2.Instrument_ID

In [289]:
solve2.head()

,Hospital_ID,District_ID,Instrument_ID,Buy_or_not,Revenue,Key2
0,Hospital 1,District 12,Instrument 1,NaN,NaN,Hospital 1District 12Instrument 1
1,Hospital 1,District 12,Instrument 10,NaN,NaN,Hospital 1District 12Instrument 10
2,Hospital 1,District 12,Instrument 11,NaN,NaN,Hospital 1District 12Instrument 11
3,Hospital 1,District 12,Instrument 13,NaN,NaN,Hospital 1District 12Instrument 13
4,Hospital 1,District 12,Instrument 15,NaN,NaN,Hospital 1District 12Instrument 15

In [290]:
compare_2 = solve2.merge(zs_2_v1,how='left',on='Key2')

In [292]:
compare_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193810 entries, 0 to 193809
Data columns (total 16 columns):
Hospital_ID_x               193810 non-null object
District_ID_x               193810 non-null object
Instrument_ID_x             193810 non-null object
Buy_or_not                  0 non-null float64
Revenue                     0 non-null float64
Key2                        193810 non-null object
Region_ID                   0 non-null object
Annual_Projected_Revenue    0 non-null float64
Buy                         0 non-null float64
Hospital_ID_y               0 non-null object
District_ID_y               0 non-null object
Instrument_ID_y             0 non-null object
Year_Total                  0 non-null float64
Key                         0 non-null object
Hospital_employees          0 non-null float64
intercept                   0 non-null float64
dtypes: float64(7), object(9)
memory usage: 25.1+ MB

In [293]:
train_cols6 = ['Hospital_ID','Instrument_ID','District_ID','intercept']

In [294]:
logit7 = sm.Logit(zs_2_v1['Buy'].astype(float), zs_2_v1[train_cols6].astype(float))
result7 = logit7.fit()
print result7.summary2()

Optimization terminated successfully.
         Current function value: 0.545111
         Iterations 5
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.007
Dependent Variable: Buy              AIC:              57090.9497
Date:               2016-07-31 19:01 BIC:              57126.4132
No. Observations:   52359            Log-Likelihood:   -28541.
Df Model:           3                LL-Null:          -28750.
Df Residuals:       52355            LLR p-value:      6.4092e-90
Converged:          1.0000           Scale:            1.0000
No. Iterations:     5.0000
-----------------------------------------------------------------
                  Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-----------------------------------------------------------------
Hospital_ID      -0.0000   0.0000  -0.2135 0.8310 -0.0000  0.0000
Instrument_ID     0.0796   0.0040  20.0244 0.0000  0.0718  0.0874
District_ID      -0.0058   0.0007  -8.3627 0.0000 -0.0072 -0.0045
intercept        -1.2957   0.0298 -43.5020 0.0000 -1.3541 -1.2373
=================================================================

In [295]:
predicting = result7.predict(solve[column])

ValueError: shapes (193810,3) and (4,) not aligned: 3 (dim 1) != 4 (dim 0)